<% if logged_in? %>
  <%= link_to current_user.username, user_path(current_user) %>
<% end %>

<h1>Users#new</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %>
  <%= f.submit %>
<% end %>

<% if @error %>
  <p><%= @error %></p>
<% end %>
