<% if logged_in? %>
  <p><%= current_user.username %></p>
<% end %>

<h1>Users#new</h1>

<%= form_for @user do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %>
  <%= f.submit %>
<% end %>

<% if @error %>
  <p><%= @error %></p>
<% end %>
