<% if logged_in? %>
  <%= link_to current_user.username, user_path(current_user) %>
<% end %>

<h1>Searches#show</h1>

<p><%= @search.user.username %></p>
<p>Location name: <%= @weather[:location_name] %></p>
<p>Latitude: <%= @weather[:lat] %></p>
<p>Longitude: <%= @weather[:lng] %></p>
<p>Current weather: <%= @weather[:current_weather] %></p>
<p>Two-day Weather by hour: <%= @weather[:two_day_hourly_weather] %></p>
<p> Week weather by day: <%= @weather[:week_daily_weather] %></p>
