<% if logged_in? %>
  <p><%= current_user.username %></p>
<% end %>

<h1>Weathers#show</h1>

<p><%= @weather %></p>
<p><%= @search[:location_name] %></p>
<p><%= @search[:lat] %></p>
<p><%= @search[:lng] %></p>
<p><%= @search[:current_weather] %></p>
<p><%= @search[:two_day_hourly_weather] %></p>
<p><%= @search[:week_daily_weather] %></p>
