<!DOCTYPE html>
<html>
  <head>
    <title>Skycast</title>
    <%= csrf_meta_tags %>

    <!-- JQuery -->
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %>
    <!-- Google Fonts -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Work+Sans" %>

    <!-- Materialize CSS -->
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css' %>

    <!-- Materialize JS -->
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js' %>

    <!-- Materialize icons -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

    <!-- Application CSS and JS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <main class="container fade-this" id="main-content">
      <%= yield %>
    </main>
  </body>
</html>
